body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #a4bab7;
}

.movie-card {
	background-color: #a18276;
	border: 0;
	box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
		0 2px 4px rgba(0, 0, 0, 0.24);
	padding: 1rem;
	cursor: pointer;
	position: relative;
	margin: 1rem auto;
	width: 50%;
	text-align: center;
}

.movie-director {
	padding: 4px 0;
	font-size: 0.8rem;
}

.saved-list {
	display: flex;
	flex-flow: column nowrap;
	background-color: #dac6b5;
	border: 0;
	box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
		0 2px 4px rgba(0, 0, 0, 0.24);
	padding: 2rem;
	position: relative;
	margin: 1rem auto;
	width: 90%;
	align-items: center;
	justify-content: center;
}

.saved-list h3 {
	margin: 1% 10px;
	font-weight: bold;
	border-bottom: 1px solid black;
}
.saved {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	margin: 1%;
	width: 50%;
}

.saved-movie {
	margin: 2.5% 10px;
	cursor: pointer;
}
.saved-active {
	color: blue;
	border: 1px solid grey;
	padding: 5px;
}
.save-wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 75%;
	margin: 1rem auto;
}
.save-button {
	border: 1px solid grey;
	padding: 5px 10px;
	background-color: black;
	color: white;
	width: 53%;
	text-align: center;
}
.save-button:hover {
	background-color: white;
	color: black;
	font-weight: bold;
	cursor: pointer;
}

.home-button {
	padding: 5px 10px;
	background-color: lightskyblue;
}
