body {
  display: grid;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

.movie-card {
  background-color: rgba(210, 217, 165, 0.822);
  border: 0;
  max-width: 70%;
  text-align-last: center;
  border-radius: 5px;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
}

.movie-director {
  padding: 4px 0;
  font-size: 1rem;
}

.saved-list {
  background-color: rgba();
  border-radius: 10px;
  max-width: 70%;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saved-list h3 {
  margin-right: 10px;
}

.saved-movie {
  margin: 0 10px;
}
.saved-active {
  border: 1px solid grey;
  padding: 5px;
}
.save-wrapper {
  position: relative;
  margin: 1rem auto;
}
.save-button {
  position: absolute;
  border-radius: 20px;
  top: 100px;
  left: 30px;
  font-family: sans-serif;
  padding: 4px 4px;
  background-color: whitesmoke;
  border: solid 3px rgba(210, 217, 165, 0.822);
  color: rgba(85, 96, 17, 0.822);

  border-radius: 20px;
}
.save-button:hover {
  background-color: cornflowerblue;
  color: white;
}

.home-button {
  padding: 5px 10px;
  border-radius: 20px;
  color: black;
  background-color: rgba(235, 235, 235, 0.995);
}
