body {
  margin: 0;
  padding: 0;
  font-family: 'Philosopher', sans-serif;
  background-color: black;
}
a{
  color: black;
  text-decoration: none;
}
.movie-card {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 600px
}

.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
}

.saved-list {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saved-list h3 {
  margin-right: 10px;
}

.saved-movie {
  margin: 0 10px;
}
.saved-active {
  color: blue;
  border: 1px solid grey;
  padding: 5px;
}
.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}
.save-button {
  position: absolute;
  top: 25px;
  right: 55px;
  border: 1px solid white;
  padding: 5px 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
.save-button:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
}

.home-button {
  padding: 5px 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
.home-button:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

h2, h3{
  font-family: 'IM Fell Great Primer SC', serif;
}
