body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #D3D4BF;
}

.movie-card {
  background-color: #E7E6EA;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 46.5%;
  color: #463F34;
}
.movie-card h2 {
  text-align: center;
}

.movie-director {
  padding: 4px 0;
  font-size: 1rem;
}

.saved-list {
  background-color: #E7E6EA;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.saved-list h3 {
  margin-right: 10px;
  color: #463F34;
}

.saved-movie {
  margin: 0 10px;
  color: #463F34;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
}
.active-movie {
  color: #463F34;
  font-weight: bold;
  text-decoration: none;
  border: .5px solid grey;
  padding: 5px;
  box-shadow: 1px 1px 1px;
}
.save-wrapper {
  position: relative;
  width: 75%;
  
}
.save-button {
  width: 5%;
  position: relative;
  top: 25px;
  right: 25px;
  box-shadow: 1px 1px 1px;
  padding: 5px 20px;
  text-align: center;
  margin-left: 63%;
  margin-top: -100px;
  background: #D3D4BF;
  color: #463F34;
  font-weight: bold;
}
.save-button:hover {
  background-color: #463F34;
  color:  #E7E6EA;
}

.home-button {
  padding: 5px 10px;
  background-color: #D3D4BF;
  box-shadow: 1px 1px 1px;
  border: none;
  width: 7.5%;
  text-align: center;
}


