.home-button {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 5px;
  width: 70px;
  padding: 10px;
  text-align: center;
  color: black;
}

.home-button:hover {
  color: rgb(172, 0, 0);
}