.saved-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 5px 5px 3px 2px #ff7961 !important;
}

.saved-list h3 {
	margin-right: 10px;
}

.saved-list-buttonrow {
	display: flex;
	width: 10%;
	justify-content: space-around;
}

.saved-movie {
	margin: 0 10px;
}

.clear-button {
	border: none;
	font-size: 1rem;
}

.home-button {
	margin-right: 10px;
}

.home-button,
.clear-button {
	padding: 5px 10px;
	color: black;
	background-color: lightskyblue;
	text-decoration: none;
}
